html {
    height: 100%;
}

#logo {
    position: absolute;
    margin-left: 7%;
    height: 150px;
    width: auto;
}

body {
    height: 100%;
    margin:0;
    margin-top: 20px;
    padding: 0;
    background-color: white;
}

nav {
    width: 100%;
    margin-top: 75px;
    margin-left: 0%;
    margin-right: 20%;
    margin-bottom: 0%;
    position: absolute;
}

ul#nav {
    list-style: none;
    margin: 0 5%;
    padding: 0;
}

#nav a {
    display: block;
    float: right;
    color: #b0b0b0;
    font-family: verdana, arial, sans-serif;
    font-size: 85%;
    letter-spacing: 4px;
    margin: 0 2%;
    text-decoration: none;
}

#nav a:hover {
  color: #d99a6e;
}

#wrapper {
    height: 170px;
    position: relative;
}

hr.horizontal {
    height: 1px;
    background-color: #d99a6e;
    color: #d99a6e;
    border: none;
    margin-bottom: 5px;
}

.vertLine {
    width:1px;
    height: 100%;
    background-color:#d99a6e;
    position:absolute;
    top: 199px;
    bottom:0;
    left:10%;
    display: inline-block;
}

#copyright {
    position: relative;
    top: 275px;
    left: 9%;
    height: auto;
    width: 500px;
}

.copyright-text {
    transform: rotate(-90deg);
    transform-origin: left bottom;
    color: #b0b0b0;
    font-family: verdana, arial, sans-serif;
    font-size: 75%;
}

.headline {
  margin-top: -10px;
  margin-left: 15%;
  margin-bottom: 10px;
  font-family: verdana, arial, sans-serif;
  font-size: 32px;
  letter-spacing: 1px;
  color: #b0b0b0;
}

.subhead {
  margin-left: 15%;
  margin-bottom: 0%;
  font-family: verdana, arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #d99a6e;
}

.info {
  margin-top: 7px;
  margin-left: 15%;
  margin-right: 30%;
  font-family: verdana, arial, sans-serif;
  color: #787878;
  font-size: 12px;
  line-height: 1.4em;
}

form {
  margin-left: 15%;
}

.subhead-table {
  margin-top: 5px;
  margin-bottom: 7px;
  font-family: verdana, arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #d99a6e;
}

.info-table {
  margin-top: 7px;
  font-family: verdana, arial, sans-serif;
  color: #787878;
  font-size: 12px;
  line-height: 1.4em;
}

input[type=submit], input[type=reset]{
    background-color: #d99a6e;
    font-family: verdana, arial, sans-serif;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 2px 4px;
    cursor: pointer;
}

a {
  color: #787878;
}

#thanks {
  margin-left: 15%;
  margin-right: 30%;
  margin-top: 30px;
  margin-bottom: 0%;
  font-family: verdana, arial, sans-serif;
  font-size: 18px;
  color: #d99a6e;
}
