<!DOCTYPE HTML>
<html lang="en">

<head>
<meta charset="utf-8">
<title>Ampersand Design</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="app.js"></script>
<script src="portfolioCtrl.js"></script>
<link rel="stylesheet" type="text/css" href="portfolio.css">
</head>

<body ng-app="app" ng-controller="printCtrl" ng-init="onload('print')">
    <div id="wrapper">
      <img id="logo" src="images/ampersand-logo.jpg" width="167px" height="190px" alt="Ampersand Logo">
      <nav> <!--start of navigation div-->
          <ul id="nav">
              <li><a href="contact.html" class="lastNav">CONTACT</a></li>
              <li><a href="blog.html">BLOG</a></li>
              <li><a href="about.html">ABOUT</a></li>
              <li><a href="print.html">WORK</a></li>
              <li><a href="index.html">HOME</a></li>
          </ul>
      </nav> <!--end navigation div-->
      <div class="icons">
        <a href="tech.html">
          <div class="icon">
            <img id="circle" src="images/techCircle.jpg">
            <p id="printText">TECH</p>
          </div>
        </a>
        <a href="tradeShow.html">
          <div class="icon">
            <img id="circle" src="images/tradeshowCircle.jpg">
            <p id="printText">LARGE</p>
          </div>
        </a>
        <a href="digital.html">
          <div class="icon">
            <img id="circle" src="images/webCircle.jpg">
            <p id="printText">DIGITAL</p>
          </div>
        </a>
        <a href="brand.html">
          <div class="icon">
            <img id="circle" src="images/logosCircle.jpg">
            <p id="printText">BRAND</p>
          </div>
        </a>
        <a href="print.html">
          <div class="icon iconActive">
            <img id="circle" src="images/printCircle.jpg">
            <p id="printText">PRINT</p>
          </div>
        </a>
      </div>
    </div>
    <hr class="horizontal" />
    <hr class="horizontal"/>
    <div id="copyright">
        <p class="copyright-text">&copy; 2016. Ampersand Design. All rights reserved.</p>
    </div>
    <div class="vertLine">
    &nbsp;
    </div>
    <div class="printIcons">
      <span class="printIcon" ng-class="{ 'smallCircleActive': isCurrent('j2sBook') }" ng-click="changeDiv('j2sBook')">
        <img class="smallCircle" src="images/j2sDot.jpg">
      </span>
      <span class="printIcon" ng-class="{ 'smallCircleActive': isCurrent('bylinesMagazine') }" ng-click="changeDiv('bylinesMagazine')">
        <img class="smallCircle" src="images/bylinesDot.jpg">
      </span>
      <span class="printIcon" ng-class="{ 'smallCircleActive': isCurrent('falconstorRoomDrop') }" ng-click="changeDiv('falconstorRoomDrop')">
        <img class="smallCircle" src="images/falconstorRoomDropDot.jpg">
      </span>
      <span class="printIcon" ng-class="{ 'smallCircleActive': isCurrent('pvamfBrochure') }" ng-click="changeDiv('pvamfBrochure')">
        <img class="smallCircle" src="images/pvamfBrochureDot.jpg">
      </span>
      <span class="printIcon" ng-class="{ 'smallCircleActive': isCurrent('quenchCoffeePackets') }" ng-click="changeDiv('quenchCoffeePackets')">
        <img class="smallCircle" src="images/quenchCoffeeDot.jpg">
      </span>
      <span class="printIcon" ng-class="{ 'smallCircleActive': isCurrent('hycreteDataSheet') }" ng-click="changeDiv('hycreteDataSheet')">
        <img class="smallCircle" src="images/hycreteDot.jpg">
      </span>
      <span class="printIcon" ng-class="{ 'smallCircleActive': isCurrent('sunServicesBrochure') }" ng-click="changeDiv('sunServicesBrochure')">
        <img class="smallCircle" src="images/sunServiceBrochureDot.jpg">
      </span>
      <span class="printIcon" ng-class="{ 'smallCircleActive': isCurrent('lcbAd') }" ng-click="changeDiv('lcbAd')">
        <img class="smallCircle" src="images/lcbDot.jpg">
      </span>
      <span class="printIcon" ng-class="{ 'smallCircleActive': isCurrent('falconstorSolBroch') }" ng-click="changeDiv('falconstorSolBroch')">
        <img class="smallCircle" src="images/falconstorDot.jpg">
      </span>
    </div>
    <p class="headline">PRINT</p>
    <div ng-show="isCurrent('sunServicesBrochure')" class="portfolioDiv">
      <p class="title">Sun Microsystems Storage Services Brochure</p>
      <img class="portfolioImage" src="images/sunServicesBrochure.jpg">
    </div>
    <div ng-show="isCurrent('lcbAd')" class="portfolioDiv">
      <p class="title">Longmont Concert Band Newspaper Ad</p>
      <img class="portfolioImage" src="images/lcbSpring2017Ad.jpg">
    </div>
    <div ng-show="isCurrent('falconstorSolBroch')" class="portfolioDiv">
      <p class="title">FalconStor Solutions Brochure</p>
      <img class="portfolioImage" src="images/falconstorSolutionGuide.jpg">
    </div>
    <div ng-show="isCurrent('hycreteDataSheet')" class="portfolioDiv">
      <p class="title">Hycrete Data Sheet</p>
      <img class="portfolioImage" src="images/hycreteDataSheet.jpg">
    </div>
    <div ng-show="isCurrent('quenchCoffeePackets')" class="portfolioDiv">
      <p class="title">Quench Coffee Packets</p>
      <img class="portfolioImage" src="images/quenchCoffeePackets.jpg">
    </div>
    <div ng-show="isCurrent('falconstorRoomDrop')" class="portfolioDiv">
      <p class="title">FalconStor/Sun Microsystems Sales Meeting Room Drop</p>
      <img class="portfolioImage" src="images/falconstoreRoomDrop.jpg">
    </div>
    <div ng-show="isCurrent('pvamfBrochure')" class="portfolioDiv">
      <p class="title">Praire View A&M University Foundation Brochure</p>
      <img class="portfolioImage" src="images/pvamfBrochure.jpg">
    </div>
    <div ng-show="isCurrent('bylinesMagazine')" class="portfolioDiv">
      <p class="title">ByLines Magazine (University of Colorado School of Journalism Alumi Magazine)</p>
      <img class="portfolioImage" src="images/bylinesMagazine.jpg">
    </div>
    <div ng-show="isCurrent('j2sBook')" class="portfolioDiv">
      <p class="title">Journey to the Stadium Coffee Table Book (160 pages)</p>
      <img class="portfolioImage" src="images/j2sBook.jpg">
    </div>
  </body>
  </html>
