html {
    height: 100%;
}

#logo {
    position: absolute;
    margin-left: 7%;
    height: 150px;
    width: auto;
}

body {
    height: 100%;
    margin:0;
    margin-top: 20px;
    padding: 0;
    background-color: white;
}

nav {
    width: 100%;
    margin-top: 75px;
    margin-left: 0%;
    margin-right: 20%;
    margin-bottom: 0%;
    position: absolute;
}

ul#nav {
    list-style: none;
    margin: 0 5%;
    padding: 0;
}

#nav a {
    display: block;
    float: right;
    color: #b0b0b0;
    font-family: verdana, arial, sans-serif;
    font-size: 85%;
    letter-spacing: 4px;
    margin: 0 2%;
    text-decoration: none;
}

#nav a:hover {
  color: #d99a6e;
}

#wrapper {
    height: 170px;
    position: relative;
}

hr.horizontal {
    height: 1px;
    background-color: #d99a6e;
    color: #d99a6e;
    border: none;
    margin-bottom: 5px;
}

.vertLine {
    width:1px;
    height: 100%;
    background-color:#d99a6e;
    position:absolute;
    top: 199px;
    bottom:0;
    left:10%;
    display: inline-block;
}

#copyright {
    position: relative;
    top: 275px;
    left: 9%;
    height: auto;
    width: 500px;
}

.copyright-text {
    transform: rotate(-90deg);
    transform-origin: left bottom;
    color: #b0b0b0;
    font-family: verdana, arial, sans-serif;
    font-size: 75%;
}
